# Introduction

This is the python notebook corresponding to the NMSU Pandas Workshop. For the online reference [**click here**](https://github.com/bleuknight/NMSUworkshop2018/blob/master/learnPandasReference.ipynb).

Selecting specific values of a `pandas` `DataFrame` or `Series` to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

I have remixed an excellent kaggle tutorial that can be found [here](https://www.kaggle.com/residentmario/indexing-selecting-assigning)

In this set of exercises we will work on exploring the [pollutants dataset](https://www.kaggle.com/sohier/mussel-watch/data). 

# Relevant Resources
* **[Companion Resource Notebook](https://github.com/bleuknight/NMSUworkshop2018/blob/master/learnPandasReference.ipynb)** 
* [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html) section of pandas documentation
* [Pandas Cheat Sheet](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)

# Set Up

Run the following 2 cells to load (1) the pandas library and (2) the dataset we will be working with today

In [ ]:
#this imports the pandas library

import pandas as pd

In [ ]:
# download the pollutants dataset and save it into the folder where you are currently working 
# with this jupyter notebook
pols = pd.read_csv("pollutants.csv", dtype = object)

### A Pandas "object" can be any data type
### dtype = object specifies all of the data types in the spreadsheet as objects

Verify that this is true by running the code below.  

bonus: what happens if you DONT specify the dtype?

In [ ]:
pols.dtypes

## Let's check out the first 100 lines to find out what types of data are present

In [ ]:
pols.head(100)

## Let's specify numeric columns so that we can manipulate them

Find out the column names with this code

In [ ]:
pols.columns

In [ ]:
# now specify the numeric columns by creating a list of their names
cols = ['fiscal_year', 'result']

In [ ]:
pols[cols] = pols[cols].apply(pd.to_numeric, errors = 'coerce')

In [ ]:
pols.dtypes

# Exercises

**Exercise 1**: Select the `general_location` column from `pols`.

**Your answer should look like this:**
0         Chukchi Sea
1         Chukchi Sea
2         Chukchi Sea
3         Chukchi Sea
4         Chukchi Sea
5         Chukchi Sea
6         Chukchi Sea
7         Chukchi Sea
8         Chukchi Sea
9         Chukchi Sea
10        Chukchi Sea
11        Chukchi Sea
12        Chukchi Sea
13        Chukchi Sea
14        Chukchi Sea
15        Chukchi Sea
16        Chukchi Sea
17        Chukchi Sea
18        Chukchi Sea
19        Chukchi Sea
20        Chukchi Sea
21        Chukchi Sea
22        Chukchi Sea
23        Chukchi Sea
24        Chukchi Sea
25        Chukchi Sea
26        Chukchi Sea
27        Chukchi Sea
28        Chukchi Sea
29        Chukchi Sea
             ...     
769896         Tinian
769897         Tinian
769898         Tinian
769899         Tinian
769900         Tinian
769901         Tinian
769902         Tinian
769903         Tinian
769904         Tinian
769905         Tinian
769906         Tinian
769907         Tinian
769908         Tinian
769909         Tinian
769910         Tinian
769911         Tinian
769912         Tinian
769913         Tinian
769914         Tinian
769915         Tinian
769916         Tinian
769917         Tinian
769918         Tinian
769919         Tinian
769920         Tinian
769921         Tinian
769922         Tinian
769923         Tinian
769924         Tinian
769925         Tinian
Name: general_location, Length: 769926, dtype: object

**Exercise 2**: what is the general location for the 94th entry  of `pols`.

**Your answer should look like this:**
     'Chukchi Sea'

**Exercise 3**: Select the first row of data (the first record) from `pols`. Hint: use `loc` or `iloc`.

***your answer should look like this***

coastal_ecological_area                                        NaN
collection_date                             18AUG2015:00:00:00.000
fiscal_year                                                   2015
general_location                                       Chukchi Sea
latitude                                                       NaN
longitude                                                      NaN
matrix                                                    Sediment
method                                                 B&B SOP1006
nst_sample_id                                 BA2015AKC-15-005bSED
nst_site                                                AKC_15-005
parameter                               1,6,7-Trimethylnaphthalene
parameter_name                                                 NaN
qualifier                                            Below the MDL
region_name                                                    NaN
result                                                       0.104
scientific_name                                           Sediment
source_file                AlaskaArcticStudy_Organics_Sediment.csv
specific_location                                        Peard Bay
state_name                                                     NaN
stratum                                                        NaN
study_name                                     Alaska Arctic Study
units                                                     ng/dry g
Name: 0, dtype: object

**Exercise 4**: Select the first 100 values from the `parameter` column in `pols` `Series`.

***your answer should look like this***
0       1,6,7-Trimethylnaphthalene
1         1-Methyldibenzothiophene
2                 1-Methylfluorene
3              1-Methylnaphthalene
4             1-Methylphenanthrene
5                     18a-Oleanane
6          2,6-Dimethylnaphthalene
7               2-Methylanthracene
8             2-Methylfluoranthene
9              2-Methylnaphthalene
10            2-Methylphenanthrene
11      2/3-Methyldibenzothiophene
12        3,6-Dimethylphenanthrene
13            3-Methylphenanthrene
14        4-Methyldibenzothiophene
15          4/9-Methylphenanthrene
16                    Acenaphthene
17                  Acenaphthylene
18                      Anthracene
19               Benz[a]anthracene
20            Benzo(a)fluoranthene
21                Benzo(b)fluorene
22                  Benzo[a]pyrene
23            Benzo[b]fluoranthene
24                  Benzo[e]pyrene
25            Benzo[g,h,i]perylene
26            Benzo[k]fluoranthene
27                  Benzothiophene
28                        Biphenyl
29               C1-Benzothiophene
                  ...             
70                      C4-Decalin
71            C4-Dibenzothiophenes
72        C4-Fluoranthenes_Pyrenes
73                 C4-Naphthalenes
74       C4-Naphthobenzothiophenes
75    C4-Phenanthrenes_Anthracenes
76                       Carbazole
77                        Chrysene
78                         Decalin
79          Dibenzo[a,h]anthracene
80                    Dibenzofuran
81                Dibenzothiophene
82                    Fluoranthene
83                        Fluorene
84         Indeno[1,2,3-c,d]pyrene
85                     Naphthalene
86           Naphthobenzothiophene
87                        Perylene
88                    Phenanthrene
89                          Pyrene
90               Sample dry weight
91       Sample percent dry weight
92       Sample percent wet weight
93               Sample wet weight
94      1,6,7-Trimethylnaphthalene
95        1-Methyldibenzothiophene
96                1-Methylfluorene
97             1-Methylnaphthalene
98            1-Methylphenanthrene
99                    18a-Oleanane
Name: parameter, Length: 100, dtype: object

**Exercise 5**: Select the records with the `1`, `2`, `3`, `5`, and `8` row index positions. In other words, generate the following `DataFrame`:

![DataFrame](pols_pic1.png)

**Exercise 6**: Select the `general_location`, `parameter`, `result`, and `units` columns of the records with the `1`, `9`, `19`, and `91` index positions. In other words, generate the following `DataFrame`:

![DataFrame](pols_pic2.png)

**Exercise 7**: Select the `general_location` and `specific_location` columns of records 1 - 1000

Hint: you may use `loc` or `iloc`. When working on the answer this question and the several of the ones that follow, keep the in mind the following

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So `0:10` will select entries `0,...,9`. `loc`, meanwhile, indexes inclusively. So `0:10` will select entries `0,...,10`.

**Exercise 8**: Select tests done in the `Beaufort Sea`. Hint: `pols.general_location` equals what?

**Exercise 9**: Select tests whose `parameter` is not `NaN`.

**Exercise 10**: Select the `parameter` column.

**Exercise 11**: <!--What is the distribution of reviews scores for the first 1000 wines in the dataset?--> Select the `parameter` column for the first 1000 tests.

**Exercise 12**: <!--What is the distribution of reviews scores for the last 1000 wines in the dataset?--> Select the `parameter` column for the last 1000 tests.

## Now, let's start to ask some more meaningful questions about our data

**Exercise 13**: What are the different pollutants present in the dataset? List each pollutant only once. Hint: `parameter` corresponds to pollutant?

**Exercise 14**: How many pollutants are there?

**Exercise 15**: What pollutants are in the Mississippi River? Hint: Select the `parameter` column, but only for tests in the Mississippi River.

**Exercise 16**: How many different pollutants are in the Mississippi River? Hint: how long is the array of unique pollutants?

**Exercise 17**: What is the oldest test on record for the Mississippi River? Hint: What is the minimum value of `fiscal_year` for tests in the Mississippi River?

**Exercise 18**: What is the most recent test on record for the Mississippi River? Hint: What is the maximum value of `fiscal_year` for tests in the Mississippi River?

**Exercise 19**: Lets explore the Mississippi River data in more detail. What are the most concentrated pollutants at each specific location? `Hint: first, create a dataframe corresponding to only Mississippi River data, then sort by the highest result. Then, group by 'parameter' and 'units'

**Exercise 20** How do we know that the units are aligned?  Find the different units that are used for the Mississippi River tests:

Oh, it looks like there might be some differences.  I'm going to go through one way to match up the units so we can be sure we are looking at the most concentrated pollutants in the dataset. **I did this last night at almost midnight and I feel like it is kind of klunky but this is my solution** First I am going to duplicate the result column in a new column called 'adj':

In [ ]:
MR = MR.assign(adj = MR['result'])
MR

 have micrograms, nanograms, and picograms per gram so I am going to adjust accordingly now:

In [ ]:
MR.loc[MR['units'] == 'micrograms per dry gram', 'adj'] =  1000000
MR.loc[MR['units'].str.contains("ng"), 'adj'] =  1000
MR.loc[MR['units'].str.contains("cent"), 'adj'] = 1
MR.loc[MR['units'] == 'CFU/g', 'adj'] =  1
MR.loc[MR['units'] == 'Number', 'adj'] = 1
MR.loc[MR['units'] == 'G', 'adj'] = 1
MR.loc[MR['units'] == 'pg/g', 'adj'] = 1

**Exercise 21**: Did the adjustment catch all of the different types of units? `(Hint: what are the unique values in the 'adj' column?)`

Now I will compensate for the unit adjustment like this:

In [ ]:
MR['result'] = MR.result*MR.adj
MR

**Exercise 22** What pollutants have the highest mean result value? `(Hint: Look at the discussion of groupby in the slides)`

**Exercise 23** Let's see which pollutants changed the most in the MIssissippi river over the course of the study `(hint: create a dataframe from a pivot table, then find the difference between the highest and lowest values, then sort by that difference)`